{% extends 'base.html' %}

{% block content %}
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="{% url 'home' %}">Latest</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Technology' %}">Technology</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Design' %}">Design</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Culture' %}">Culture</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Business' %}">Business</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Politics' %}">Politics</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Opinion' %}">Opinion</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Science' %}">Science</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Health' %}">Health</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Style' %}">Style</a>
    <a class="p-2 text-muted" href="{% url 'category' 'Travel' %}">Travel</a>
  </nav>
</div>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {{ cat }} blogs
      </h3>
      {% for blog in blogs.all %}
      {% if blog.category == cat %}
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ blog.category }}</strong>
            <h3 class="mb-0">{{ blog.title }}</h3>
            <div class="mb-1 text-muted">{{ blog.pub_date_pretty }}</div>
            <p class="card-text mb-auto">{{ blog.summary }}</p>
            <a href="{% url 'detail' blog.id %}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{ blog.image.url }}" class="bd-placeholder-img" width="200" height="200" alt="">
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">The perfect place to share your thoughts and let others learn along with you. Read and write about topics of your interests.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

{% endblock %}
