{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Create</h1>
<form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  Title:
  <br />
  <input type="text" name="title" />
  <br />
  <label for="category">Category:</label>
  <br />
  <select id="category" name="category">
    <option value="Technology">Technology</option>
    <option value="Design">Design</option>
    <option value="Culture">Culture</option>
    <option value="Business">Business</option>
    <option value="Politics">Politics</option>
    <option value="Opinion">Opinion</option>
    <option value="Science">Science</option>
    <option value="Health">Health</option>
    <option value="Style">Style</option>
    <option value="Travel">Travel</option>
  </select>
  <br />
  Image:
  <br />
  <input type="file" name="image" />
  <br />
  Body:
  <br />
  <textarea name="body" rows="5" cols="40"></textarea>
  <br />
  <br />
  <input class = "btn btn-primary" type="submit" value="Publish">
</form>
{% endblock %}
